<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<!-- fragment repository for thymeleaf !-->
<body>
<header th:fragment="pageheader">
    <a href="index.html" th:href="@{/}">index</a>
    <a href="articles.html" th:href="@{/all}">update & delete</a>
    <a href="new.html" th:href="@{/new}">new article</a>
</header>
<footer th:fragment="pagefooter">
   <p>  <script src="/js/timestamp.js"></script>
       <script>getTime()</script>
   </p>
</footer>
</body>
</html>